:root {
    --bg1: #071952;
    --bg2: #088395;
    --bg3: #37B7C3;
    --bg4: #EBF4F6;
    --bg-button: #FFB534;
    --bg-button-darker: #d69b36;
    --text: #1c1c1c;
    --background: #f9f9f9;

    /* Font Style */
    --font-style--poppins: 'Poppins';
    --font-style--plus-jakarta: 'Plus Jakarta Sans';
    /* Desktop Sizes */
    --font-size-h1-desktop: 56px;
    --font-size-h2-desktop: 40px;
    --font-size-h3-desktop: 28px;
    --font-size-p-desktop: 18px;

    /* Tablet Sizes */
    --font-size-h1-tablet: 48px;
    --font-size-h2-tablet: 36px;
    --font-size-h3-tablet: 24px;
    --font-size-p-tablet: 16px;

    /* Mobile Sizes */
    --font-size-h1-mobile: 36px;
    --font-size-h2-mobile: 28px;
    --font-size-h3-mobile: 20px;
    --font-size-p-mobile: 14px;

    /* Small Mobile Sizes */
    --font-size-h1-small-mobile: 30px;
    --font-size-h2-small-mobile: 24px;
    --font-size-h3-small-mobile: 16px;
    --font-size-p-small-mobile: 12px;

    /* Font Weights */
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

.mx-8 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.mx-10 {
    margin-left: 10rem;
    margin-right: 10rem;
}

.mx-15 {
    margin-left: 15rem;
    margin-right: 15rem;
}

.responsive-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.responsive-text h1,
.responsive-text h2,
.responsive-text h3,
.responsive-text h4,
.responsive-text h5,
.responsive-text h6 {
    font-family: var(--font-style--poppins);
    font-weight: var(--bold);
}

.responsive-text p,
.responsive-text li {
    font-family: var(--font-style--plus-jakarta);
}

.container {
    padding: 0.25rem;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar.custom-bg {
    background-color: var(--bg4);
}

.navbar-brand {
    margin-left: 5rem;
    margin-right: 5rem;
}

.navbar-brand img {
    height: 54px;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-collapse#navbarNav {
    text-align: center;
}

.navbar-collapse .navbar-nav li a {
    padding: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar li {
    font-size: var(--font-size-h4-desktop);
    font-family: var(--font-style--poppins);
    font-weight: bold;
}

.btn.custom-btn {
    align-items: center;
    background-color: var(--bg-button);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: var(--text);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-style--1);
    font-size: var(--font-size-p-desktop);
    font-weight: var(--semi-bold);
    justify-content: center;
    line-height: 20px;
    max-width: 200px;
    min-height: 30px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--font-style--poppins);
    font-size: 1rem;
}

/* Hero Section */
.hero {
    background-color: var(--bg4);
}

.hero .hero-row {
    margin: 5rem;
}

.hero .hero-image {
    max-width: 75%;
    height: auto;
}

/* Information Section */
.information .img-content {
    max-width: 45%;
    height: auto;
}

/* Why Us Section */
.why-us {
    padding: 3rem;
    background-color: var(--bg4);
}

.why-us-content img {
    width: 200px;
    height: 150px;
    padding: 0.5rem;
}

.why-us-content .card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.why-us-content .card-body {
    margin: 0;
    padding: 1rem;
}

/* Program Section */
.program-section .card {
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.program-section .card-body {
    width: auto;
    max-height: 450px;
}

.program-section .card-body p {
    margin: 0;
}

.program-section .carousel-indicators {
    margin: 0;
    opacity: 0.3;
}

.program-section .carousel-indicators button {
    background-color: gray;
}

.program-section .carousel-indicators .active {
    background-color: black;
}

.program-section .carousel-control-prev img,
.program-section .carousel-control-next img {
    width: 2rem;
}

/* Mentor Section */
.mentor-section {
    padding: 3rem;
    background-color: var(--bg4);
}

.mentor-section .carousel-indicators {
    margin: 0;
    opacity: 0.3;
}

.mentor-section .carousel-item {
    height: auto;
}

.mentor-section .carousel-item img {
    height: 100%;
    object-fit: cover;
}

.mentor-section .carousel-control-prev-icon,
.mentor-section .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
}

.mentor-section .carousel-indicators li {
    background-color: gray;
}

.mentor-section .carousel-indicators .active {
    background-color: black;
}

/* Guide Section */
.guide-section {
    padding: 3rem;
}

.guide-section .steps img {
    width: 200px;
    height: 150px;
    margin-bottom: 1rem;
}

.guide-section .steps img#arrow-1,
.guide-section .steps img#arrow-5  {
    width: 100px;
    transform: rotate(90deg);
}

.guide-section .steps img#arrow-2,
.guide-section .steps img#arrow-4  {
    width: 100px;
    transform: rotate(180deg);
}

.guide-section .steps img#arrow-3 {
    width: 100px;
    transform: rotate(-90deg);
}

/* Guide Section Mobile */
.guide-section-mobile {
    padding: 3rem;
    display: none;
}

/* Newsletter Section */
.newsletter.container .row.custom-bg {
    background-color: var(--bg4);
    border-radius: 1rem;
}

.newsletter img {
    position: absolute;
    top: -110px;
    left: 15%;
    width: 185px;
}

/* Footer */
.footer {
    padding: 2rem;
    background-color: var(--bg4);
}

.footer .footer-text {
    margin: 0;
    font-size: 12px;
}

@media (max-width: 575.98px) {
    html {
        scroll-padding-top: 300px;
    }

    .responsive-text h1 {
        font-size: 28px;
    }

    .responsive-text h2 {
        font-size: 22px;
    }

    .responsive-text h4 {
        font-size: 20px;
    }

    .responsive-text h5 {
        font-size: 18px;
    }

    .responsive-text h6 {
        font-size: 16px;
    }

    .responsive-text p {
        font-size: 14px;
    }

    .navbar li {
        font-size: 14px;
    }

    .btn.custom-btn {
        font-size: 14px;
    }

    /* Navbar */
    .navbar-signup {
        display: none !important;
    }

    .navbar-brand {
        margin: 0;
    }
    
    /* Hero Section */
    .hero .hero-row {
        margin-left: 0;
        margin-right: 0;
    }

    /* Hero Section */
    .hero .hero-image {
        margin-bottom: 2rem;
        /* max-width: 80%; */
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* Information Section */
    .information .img-content {
        max-width: 70%;
    }

    /* Program Section */
    .program-section .card {
        width: 200px;
    }

    .program-section .carousel-control-prev img,
    .program-section .carousel-control-next img {
        width: 1rem;
    }

    /* Why Us Section */
    .why-us-content img {
        width: 175px;
        height: 125px;
    }

    /* Guide Section */
    .guide-section {
        display: none;
    }

    /* Guide Section Mobile*/
    .guide-section-mobile {
        display: block;
    }

    .guide-section-mobile .content {
        max-width: 200px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .guide-section-mobile .content p {
        margin: 0;
    }

    .guide-section-mobile .arrow {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .guide-section-mobile .arrow img {
        width: 32px;
        height: auto;
        transform: rotate(180deg);
    }

    /* Newsletter Section */
    .newsletter {
        text-align: center;
    }
    
    .newsletter #imageNewsletter {
        display: none !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html {
        scroll-padding-top: 300px;
    }

    .responsive-text h1 {
        font-size: 32px;
    }

    .responsive-text h2 {
        font-size: 26px;
    }

    .responsive-text h4 {
        font-size: 22px;
    }

    .responsive-text h5 {
        font-size: 20px;
    }

    .responsive-text h6 {
        font-size: 16px;
    }

    .responsive-text p {
        font-size: 14px;
    }

    .navbar li {
        font-size: 14px;
    }

    .btn.custom-btn {
        font-size: 14px;
    }

    .navbar-signup {
        display: none !important;
    }

    /* Hero Section */
    .hero .hero-image {
        margin-bottom: 2rem;
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* Information Section */
    .information .img-content {
        max-width: 70%;
    }

    /* Why Us Section */
    .why-us-content img {
        width: 175px;
        height: 125px;
    }

    /* Program Section */
    .program-section .card-body {
        max-height: 400px;
    }

    .program-section .card {
        width: 225px;
    }

    .program-section .carousel-control-prev img,
    .program-section .carousel-control-next img {
        width: 1.5rem;
    }

    /* Guide Section */
    .guide-section {
        display: none;
    }

    /* Guide Section Mobile*/
    .guide-section-mobile {
        display: block;
    }

    .guide-section-mobile .content {
        max-width: 400px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .guide-section-mobile .content p {
        margin: 0;
    }

    .guide-section-mobile .arrow {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .guide-section-mobile .arrow img {
        width: 32px;
        height: auto;
        transform: rotate(180deg);
    }

    /* Newsletter Section */
    .newsletter {
        text-align: center;
    }

    .newsletter #imageNewsletter {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        scroll-padding-top: 310px;
    }

    .responsive-text h1 {
        font-size: 36px;
    }

    .responsive-text h2 {
        font-size: 28px;
    }

    .responsive-text h4 {
        font-size: 20px;
    }

    .responsive-text h5 {
        font-size: 18px;
    }

    .responsive-text h6 {
        font-size: 14px;
    }

    .responsive-text p {
        font-size: 14px;
    }

    .btn.custom-btn {
        font-size: 14px;
    }

    .responsive-text p,
    .responsive-text li {
        font-family: var(--font-style--plus-jakarta);
    }

    .navbar-signup {
        display: none !important;
    }

    /* Hero Section */
    .hero .hero-image {
        margin-bottom: 2rem;
        /* max-width: 80%; */
    }

    .hero .hero-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /* Information Section */
    .information .img-content {
        max-width: 50%;
    }

    /* Why Us Section */
    .why-us-content img {
        width: 175px;
        height: 125px;
    }

    /* Guide Section */
    .guide-section .steps img {
        width: 150px;
        height: 100px;
    }
    
    .guide-section .steps img#arrow-1,
    .guide-section .steps img#arrow-5  {
        width: 75px;
    }
    
    .guide-section .steps img#arrow-2,
    .guide-section .steps img#arrow-4  {
        width: 75px;
    }
    
    .guide-section .steps img#arrow-3 {
        width: 75px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .program-section .card {
        width: 300px;
    }
}

@media (min-width: 1400px) {
    .program-section .card {
        width: 350px;
    }
}